BOT_TOKEN=8656046782:AAH6APZo1vznnaQTCPzb4qYLD6au_L4r1GU
BOT_USERNAME=Bysylabot
DATABASE_URL=postgresql://username:password@host:5432/database?sslmode=require
GROUP_CHAT_ID=-1003785173614
GAME_TIME_ZONE=UTC
ADMIN_IDS=123456789,987654321
