SPRING_PROFILES_ACTIVE=dev
BOT_TOKEN=8656046782:AAH6APZo1vznnaQTCPzb4qYLD6au_L4r1GU
BOT_TOKEN_TEST=8629668144:AAEOyYwwuAvLIWR7p8glb_kQab16_wjH_eQ
BOT_USERNAME=testsylabot
DATABASE_URL=postgresql://username:password@host:5432/database?sslmode=require
GROUP_CHAT_ID=-5055322971
GAME_TIME_ZONE=UTC
ADMIN_IDS=1265222100
WEB_APP_BASE_URL=https://your-domain.com
