BOT_TOKEN=8656046782:AAGQCDkL2CF7OmnzC-K60HITHAf2jWm7MWQ
BOT_USERNAME=ZemliGameBot
DATABASE_URL=sqlite+aiosqlite:///bot.sqlite3
GROUP_CHAT_ID=-1003785173614
GAME_TIME_ZONE=UTC
ADMIN_IDS=123456789,987654321
